# Preference file to avoid erlang upgrades and thus missmatches between erlang and rabbitmq
# See https://www.rabbitmq.com/which-erlang.html

{{ rabbitmq_version }}
{{ erlang_version }}
{{ ansible_version }}
